/*Register modal theme*/

.jconfirm.jconfirm-register .jconfirm-bg {
    background-color: rgba(165, 165, 165, 0.72)
}

.jconfirm.jconfirm-register .jconfirm-box {
    background-image: url(../images/brick-wall.png);
    border-radius: 25px;
}

.jconfirm.jconfirm-register .jconfirm-box.jconfirm-type-blue {
    border: 0
}

.jconfirm.jconfirm-register .jconfirm-box.jconfirm-type-green {
    border: 0
}

.jconfirm.jconfirm-register .jconfirm-box.jconfirm-type-red {
    border: 0
}

.jconfirm.jconfirm-register .jconfirm-box.jconfirm-type-orange {
    border: 0
}

.jconfirm.jconfirm-register .jconfirm-box.jconfirm-type-purple {
    border: 0
}

.jconfirm.jconfirm-register .jconfirm-box.jconfirm-type-dark {
    border: 0
}

.jconfirm.jconfirm-register .jconfirm-box div.jconfirm-closeIcon {
    color: #000000;
    background-color:#FFF;
    -webkit-clip-path: circle(50% at 21% 18%);
    clip-path: circle(50% at 21% 18%);
    font-size: 20px;
    height: 80px;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 15px;
    width: 50px;
    /*transform:scaleX(-1);*/

}

.jconfirm.jconfirm-register .jconfirm-box div.jconfirm-title-c {
    text-align: center;
    color: #000;
    font-size: 28px;
    font-weight: normal
}

.jconfirm.jconfirm-register .jconfirm-box div.jconfirm-title-c>* {
    padding-bottom: 25px
}

.jconfirm.jconfirm-register .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0
}

.jconfirm.jconfirm-register .jconfirm-box div.jconfirm-content-pane {
    margin-bottom: 25px
}

.jconfirm.jconfirm-register .jconfirm-box div.jconfirm-content {
    text-align: center;
    color: white
}

.jconfirm.jconfirm-register .jconfirm-box .jconfirm-buttons {
    text-align: center
}

.jconfirm.jconfirm-register .jconfirm-box .jconfirm-buttons button {
    font-size: 16px;
    border-radius: 2px;
    background: #303f53;
    text-shadow: none;
    border: 0;
    color: white;
    padding: 10px;
    min-width: 100px
}

.jconfirm.jconfirm-register.jconfirm-rtl .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0
}

/*Global theme*/
.color-black{
    color:#000 !important;
}

.r-input{
    background-color: #FFF !important;
}
.r-input:focus{
    background-color: #FFF !important;
    border-color: #c9d2f8 !important;
}

