.fa-angle-right::before {
    content:"\f104";
}
.fa-angle-left::before {
    content:"\f105";
}

.page-header.navbar .page-logo .logo-default{
    margin: 5px 0 0;
}

.logo-default{
    max-width: 120px;
}

.page-header.navbar{
    /*background-color: #106eae;*/
}
.help-block-error{
    color: #c60f0f;
}